@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100;900&display=swap");
html,
body {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  font-family: Roboto;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  font-size: 12px;
  padding: 10px;
  a {
    color: black;
    text-decoration: none;
  }

  .nav-left {
    display: flex;
    padding: 5px;
    font-size: 18px;
  }

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 20px;
  }

  .more-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(234, 30, 99);
    align-items: center;
    width: 20%;
    border-radius: 30px;
    padding: 4%;

    a {
      padding: 0;
      color: white;
      text-decoration: none;
    }
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: rgb(191, 40, 125);
  color: white;
  padding-top: 7%;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  max-height: 100%;
  margin: 0 2% 0 2%;
  box-shadow: 0px 1px 20px gray;
  border-radius: 10px;
  margin-top: -50px;
  padding-left: 10%;
  background-color: white;
  color: rgb(153 153 153);
  a {
    color: black;
    text-decoration: none;
  }

  h6 {
    a {
      color: red;
    }
  }

  .blog-items-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    padding-bottom: 30px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(50 52 55);
  width: 100%;
  color: white;
  padding: 30px 0;

  .left-footer {
    display: flex;
    align-items: flex-start;
    justify-content: start;
  }
  .right-footer {
    display: flex;
    align-items: flex-end;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

// $colors: orange, blue, red;

// h6 {
//   a {
//     &:nth-child(odd) {
//       @each $color in $colors {
//         color: $color;
//       }
//     }
//   }
// }
@media screen and (max-width: 375px) {
  @import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100;900&display=swap");
  html,
  body {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    font-family: Roboto;
  }

  .navigation-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    max-width: 100%;
    max-height: 100%;
    font-size: 12px;
    padding: 10px;
    a {
      color: black;
      text-decoration: none;
    }

    .nav-left {
      display: flex;
      padding: 5px;
      font-size: 18px;
    }

    .nav-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding-bottom: 5px;
      padding-top: 5px;
      padding-right: 20px;
    }

    .more-button {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: rgb(234, 30, 99);
      align-items: center;
      width: 20%;
      border-radius: 30px;
      padding: 4%;

      a {
        padding: 0;
        color: white;
        text-decoration: none;
      }
    }
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: rgb(191, 40, 125);
    color: white;
    padding-top: 7%;
  }

  .main-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    max-height: 100%;
    margin: 0 2% 0 2%;
    box-shadow: 0px 1px 20px gray;
    border-radius: 10px;
    margin-top: -50px;
    padding-left: 10%;
    background-color: white;
    color: rgb(153 153 153);
    a {
      color: black;
      text-decoration: none;
    }

    h6 {
      a {
        color: red;
      }
    }

    .blog-items-wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 110px;
      padding-bottom: 30px;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(50 52 55);
    width: 100%;
    color: white;
    padding: 30px 0;

    .left-footer {
      display: flex;
      align-items: flex-start;
      justify-content: start;
    }
    .right-footer {
      display: flex;
      align-items: flex-end;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}
