@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100;900&display=swap");
html,
body {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  font-family: Roboto;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  font-size: 12px;
  padding: 10px;
  a {
    color: black;
    text-decoration: none;
  }

  .nav-left {
    display: flex;
    padding: 5px;
    font-size: 18px;
  }

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 20px;
  }

  .more-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(234, 30, 99);
    align-items: center;
    width: 20%;
    border-radius: 30px;
    padding: 4%;

    a {
      padding: 0;
      color: white;
      text-decoration: none;
    }
  }
}

.contact-info-map {
  display: flex;
  justify-content: center;
}

.contact-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  align-items: center;
  width: 100%;
  padding-left: 15%;

  i {
    color: rgb(234, 30, 99);
    font-size: 30px;
  }

  .contact-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 80%;

    .submit-button {
      a {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgb(234, 30, 99);
        align-items: center;
        width: 9%;
        border-radius: 5px;
        padding: 2%;
        color: white;
        text-decoration: none;
        margin-top: 15px;
      }
    }
  }

  .contact-right {
    display: flex;
    flex-direction: column;
    justify-content: right;
    color: rgb(158 158 158);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(50 52 55);
  width: 100%;
  color: white;
  padding: 30px 0;

  .left-footer {
    display: flex;
    align-items: flex-start;
    justify-content: start;
  }
  .right-footer {
    display: flex;
    align-items: flex-end;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
